@font-face {
    font-family: italianno;
    src: url('./italianno-regular-webfont.woff') format(woff),
         url('./italianno-regular-webfont.woff2') format(woff2);
}

@font-face {
    font-family: italiana;
    src: url("./italiana-regular-webfont.woff") format(woff),
         url("./italiana-regular-webfont.woff2") format(woff2);
}

body
{
    height: 100vh;
}

#content
{
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 12fr;
    background-image: url(./dog.png);
    background-size: cover;
}


#header
{
    display: flex;
    justify-content: center;;
    align-items: center;
    font-size: 36px;
    background-color: black;
    background: rgba(0, 0, 0, .5)
}

#header div
{
    color: white;
    font-weight: bold;
    margin-right: 40px;
    margin-left: 40px;
}

#header div h2
{
    color: white;
    font-family: italiana;
    opacity: 100%;
    cursor: pointer;
}

.main
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#main-text
{
    font-size: 80px;
    color: white;
    font-family: italianno;
    text-align: center;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    margin-bottom: 140px;
}

#main-title
{
    font-size: 160px;
    margin-top: 134px;
}

#main-card
{
    display: flex;
    justify-content: space-between;
    grid-gap: 15px;
    padding: 40px 60px 40px 20px;
    background-color: rgb(0, 0, 0, .75);
    width: 600px;
    height: 200px;
    font-family: italiana;
    color: white;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 100px;
    color: #ffca2c;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    border-radius: 20px;
}

#main-card div
{
    display: flex;
}

#main-card div p
{
    width: 270px;
    margin-bottom: 15px;
}

#hours-container
{
    display: flex;
    flex-direction: column;
}

#address-icon
{
    width: 40px;
    height: 40px;
    background-image: url(./location_icon.svg);
    display: inline-block;
    margin-right: 10px;
}

#hours-icon
{
    width: 40px;
    height: 40px;
    background-image: url(./hours_icon.svg);
    display: inline-block;
    margin-right: 10px;
}

#menu-container
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#menu-container h2
{
    padding: 40px;
    color: white;
    font-size: 36px;
    font-family: 'italiana';
}

#menu-main
{
    display: flex;
    justify-self: center;
    flex-direction: column;
    background-color: rgb(0, 0, 0, .95);
    width: 60%;
    height: 100%;
    border-radius: 40px;
}

#menu-header-1
{
    background-color: rgb(90 90 90 / 10%);
    height: 40px;
    padding: 15px 50px 5px 50px;
    font-size: 30px;
    font-family: 'italiana';
    color: white;
}

#menu-list
{
    height: 100%;
    padding: 50px;
    color: white;
}

#menu-list li
{
    margin-bottom: 30px;
}

.dish-title
{
    font-size: 18px;
    font-weight: bold;
    color: #ffca2c;
}

.dish-description
{
    margin-top: 7px;
}

#about-main
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#about-main h2
{
    padding: 40px;
    color: white;
    font-size: 36px;
    font-family: 'italiana';
}

#about-card
{
    display: flex;
    justify-self: center;
    flex-direction: column;
    align-items: center;
    background-color: rgb(0, 0, 0, .95);
    width: 60%;
    height: 100%;
    border-radius: 40px;
}

#info-block
{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'italiana';
    color: white;
    font-size: 24px;
    text-align: center;
    padding: 0px 5vw 40px 5vw;
}

#info-block h3
{
    font-size: calc(2px + 2vw);
    margin-top: 20px;
    margin-bottom: 10px;
}

#info-block p
{
    margin-bottom: 60px;
    font-size: calc(8px + 0.9vw);
}

#about-image
{
    border-radius: 10px;
    min-width: 70%;
    width: 50%;
    height: auto;
}